@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

    <h2>Core</h2>
<ul>
    <li>Vetítések</li> 
    <li>Ülőhelytérkép</li>
    <li>Foglalt és megerősített ülőhelyek</li>
    <li>Egyidejű ülőhely-választás</li>
    </ul>
<h2>Stretch</h2>
    <ul>
    <li>Ülőhelyek felszabadítása időtúllépés esetén (Háttérszolgáltatás)</li>
    <li>Ülőhely-kategóriák</li>
    <li>Nyomtatható jegyek</li>
</ul>

